@rendermode InteractiveServer

@using Bupa.MotExpiry.App.Constants
@using Bupa.MotExpiry.App.Extensions

@if (State.CarDetails != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th id="@DisplayStrings.ResultTableHeader"
                colspan="2" class="text-center">
                    @(DisplayStrings.ResultDetails
                    + (State.CarDetails.HasMotExpired() ? 
                    DisplayStrings.Expired : 
                    DisplayStrings.NotExpired) )</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@nameof(State.CarDetails.Registration)</th>
                <td id="@DisplayStrings.ResultTableDataReg">
                    @State.CarDetails.Registration</td>
            </tr>
            <tr>
                <th scope="row">@nameof(State.CarDetails.Make)</th>
                <td id="@DisplayStrings.ResultTableDataMake">
                    @State.CarDetails.Make</td>
            </tr>
            <tr>
                <th scope="row">@nameof(State.CarDetails.Model)</th>
                <td id="@DisplayStrings.ResultTableDataModel">
                    @State.CarDetails.Model</td>
            </tr>
            <tr>
                <th scope="row">@nameof(State.CarDetails.Colour)</th>
                <td id="@DisplayStrings.ResultTableDataColour">
                    @State.CarDetails.Colour</td>
            </tr>
            <tr>
                <th scope="row">@DisplayStrings.MotExpiry</th>
                <td id="@DisplayStrings.ResultTableDataMotExpiry">
                    @State.CarDetails.MotExpiry</td>
            </tr>
            <tr>
                <th scope="row">@DisplayStrings.MileageAtLastMot</th>
                <td id="@DisplayStrings.ResultTableDataMileage">
                    @State.CarDetails.MileageAtLastMot</td>
            </tr>
        </tbody>
    </table>
}

