@using Bupa.MotExpiry.App.Constants

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">@DisplayStrings.ResultDetails</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@nameof(State.CarDetails.Registration)</th>
            <td>State.CarDetails.Registration</td>
        </tr>
        <tr>
            <th scope="row">@nameof(State.CarDetails.Make)</th>
            <td>State.CarDetails.Make</td>
        </tr>
        <tr>
            <th scope="row">@nameof(State.CarDetails.Model)</th>
            <td>State.CarDetails.Model</td>
        </tr>
        <tr>
            <th scope="row">@nameof(State.CarDetails.Colour)</th>
            <td>State.CarDetails.Colour</td>
        </tr>
        <tr>
            <th scope="row">@DisplayStrings.MotExpiry</th>
            <td>State.CarDetails.MotExpiry</td>
        </tr>
        <tr>
            <th scope="row">@DisplayStrings.MileageAtLastMot</th>
            <td>State.CarDetails.MileageAtLastMot</td>
        </tr>
    </tbody>
</table>
